<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSRF Demo</title>
</head>
<body>
	<h1>BANAMEX</h1>
	<h3>CSRF Demo</h3>
	<ul> 
	{% for k,v in user_balances.items() %} 
	    <li>{{ k }} - {{ v }}</li> 
	{% endfor %} 
	</ul>
	<form action="/transfer" method="post">
	<input type="hidden" name="token" value="{{ token }}">
	<input type="hidden" name="user_id" value="Cliente1">
	<label for="amount">Donar para SA FCFM:</label>
	<input type="number" id="amount" name="amount" required>
	<button type="submit">Transfer</button>
	</form>
</body>
</html>
